<%= content_for :page_title, 'Startup DNAge - Welcome' %>
<div class='blue_squares_up'>
</div>

<div class='homepage first-line'>
  <div class='startup_logo'>
    <%= image_tag('Startup_DNAge.png') %>
  </div>
  <div class='green_banner'>
    <%= image_tag('Green_banner.png') %>
  </div>
  <div class='first_subheader'>
    <%= image_tag('Plus_Headline.png') %>
  </div>
  <div class='bay_bridge'>
    <div class='dna_logo'>
      <%= image_tag('DNAGE_logo.png', :mouseover => "DNAGE_logo_hover.png") %>
    </div>
    <%= image_tag('bay_bridge.jpg') %>
  </div>
    
  <div class='blue_squares_down'>
  </div>
</div>

<div class='homepage second_line'>
  <div class='topics_headlines'>
    <ul>
      <li><%= image_tag('Companies.png') %></li>
      <li><%= image_tag('Topics.png') %></li>
      <li><%= image_tag('People.png') %></li>
    </ul>
  </div>
</div>

<div class='topics_examples'>
  <div class='companies'>
    <ul>
      <li>Reddit</li>
      <li>Twitter</li>
      <li>Twitch.tv</li>
      <li>Codecademy</li>
      <li>Khan Academy</li>
    </ul>
  </div>

  <div class='topics'>
    <ul>
      <li>Hackers</li>
      <li>Startups</li>
      <li>Investing</li>
      <li>Silicon Valley</li>
      <li>Programming</li>
    </ul>
  </div>

  <div class='people'>
    <ul>
      <li>Justin Kan</li>
      <li>Emmet Shear</li>
      <li>Steve Huffman</li>
      <li>Sebastian Thrun</li>
      <li>Yukihiro Matsumoto</li>
    </ul>
  </div>
</div>


<div class='homepage third_line'>

  <div class='green_squares_up'>
  </div>

  <div class='icon_section'>

    <div class='veterans_underdogs'>
      <%= image_tag('Interviews_with_veterans.png') %> 
    </div>

    <div class='round_logos'>
      <ul>
        <li><%= image_tag('Twitter.png') %></li>
        <li><%= image_tag('Hipmunk.png') %></li>
        <li><%= image_tag('Twitch.png') %></li>
        <li><%= image_tag('KhanAcademy.png') %></li>
        <li><%= image_tag('Reddit.png') %></li>
        <li><%= image_tag('Thoughtbot.png') %></li>
      </ul>
    </div>

    <div class='learn_entrepreneurs'>
      <%= image_tag('Learn_from_other.png') %> 
    </div>

    <div class='reality_check'>
      <%= image_tag('A_reality_check.png') %> 
    </div>
  </div>


  <div class='green_squares_down'>
  </div>
</div>
<div class='pillow'>
</div>
