<div class='homepage third_line'>

  <div class='green_squares_up'>
  </div>

  <div class='icon_section'>

    <div class='reality_check'>
      <%= image_tag('A_reality_check.png') %> 
    </div>

    <div class='round_logos'>
      <ul>
        <li><%= image_tag('Twitter.png') %></li>
        <li><%= image_tag('Hipmunk.png') %></li>
        <li><%= image_tag('Twitch.png') %></li>
        <li><%= image_tag('KhanAcademy.png') %></li>
        <li><%= image_tag('Reddit.png') %></li>
        <li><%= image_tag('Thoughtbot.png') %></li>
      </ul>
    </div>

    <div class='veterans_underdogs'>
      <%= image_tag('Interviews_with_veterans.png') %> 
    </div>

    <div class='learn_entrepreneurs'>
      <%= image_tag('Learn_from_other.png') %> 
    </div>

    
  </div>


  <div class='green_squares_down'>
  </div>
</div>

