<div class='homepage_second_line'>

  <div class='topics_headlines'>
    <ul>
      <li><%= image_tag('Companies.png') %></li>
      <li><%= image_tag('Topics.png') %></li>
      <li><%= image_tag('People.png') %></li>
    </ul>
  </div>
</div>

<div class='topics_examples'>
  <div class='companies'>
    <ul>
      <li><%= link_to 'Reddit', '#' %></li>
      <li><%= link_to 'Twitter', '#' %></li>
      <li><%= link_to 'Twitch.tv', '#' %></li>
      <li><%= link_to 'Codecademy', '#' %></li>
      <li><%= link_to 'Khan Academy', '#' %></li>
    </ul>
  </div>

  <div class='topics'>
    <ul>
      <li><%= link_to 'Hackers', '#' %></li>
      <li><%= link_to 'Startups', '#' %></li>
      <li><%= link_to 'Investing', '#' %></li>
      <li><%= link_to 'Silicon Valley', '#' %></li>
      <li><%= link_to 'Programming', '#' %></li>
    </ul>
  </div>

  <div class='people'>
    <ul>
      <li><%= link_to 'Justin Kan', '#' %></li>
      <li><%= link_to 'Emmet Shear', '#' %></li>
      <li><%= link_to 'Steve Huffman', '#' %></li>
      <li><%= link_to 'Sebastian Thrun', '#' %></li>
      <li><%= link_to 'Yukihiro Matsumoto', '#' %></li>
    </ul>
  </div>
</div>

