<div class='homepage_third_line'>

  <div class='green_squares_up'></div>

  <div class='icon_section'>

    <div class='icon_section_first_header'>
      <%= image_tag('A_reality_check.png', alt: 'A reality check for the startup rollercoaster') %> 
    </div>

    <div class='round_company_logos'>
      <ul>
        <li><%= image_tag('Twitter.png', alt: 'Twitter company logo') %></li>
        <li><%= image_tag('Hipmunk.png', alt: 'Hipmunk company logo') %></li>
        <li><%= image_tag('Twitch.png', alt: 'Twitch.tv company logo') %></li>
        <li><%= image_tag('KhanAcademy.png', alt: 'Khan Academy company logo') %></li>
        <li><%= image_tag('Reddit.png', alt: 'Reddit company logo') %></li>
        <li><%= image_tag('Thoughtbot.png', alt: 'Thoughtbot company logo') %></li>
      </ul>
    </div>

    <div class='icon_section_second_header'>
      <%= image_tag('Interviews_with_veterans.png', alt: 'Interviews with veterans and underdogs') %> 
    </div>

    <div class='icon_section_third_header'>
      <%= image_tag('Learn_from_other.png', alt: 'Learn from other entrepreneurs') %> 
    </div>

  </div>

  <div class='green_squares_down'></div>
  
</div>

